
.tab-btn {
  display: block;
  flex: 1 0 0;
  border: 1px solid black;
  border-right: 0;
  font-size: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.tab-btn:last-child {
  border-right: 1px solid black;
}
.tab-btn.active {
  background-color: lightblue;
}
